@font-face {
    font-family: "Nirmala UI Semilight";
    src: url("http://db.onlinewebfonts.com/t/b5eae9bab2129f4acd5fcd349dc804fe.woff");
}
html, body {
    background:  rgb(245, 245, 245);
    font-family: Nirmala UI Semilight;
    color: black;
}

.navbar{
    background-color:  rgb(245, 245, 245);
    position: fixed;
    width: 100%;
}
.navbar-link, a.navbar-item:hover{
	background-color: inherit;
	color: rgb(210,23,52);
}
/*primer section*/
.pacos-left-contacto{
    text-align: center;
    margin-top: 50px;
    background-color:  rgb(245, 245, 245);
    color: white;
    height: 100vh;
    background-image: url("../images/quienessomos_cover.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.card{
    margin-top: 0%;
    margin-left: 25%;
    width: 50%;
    border: 1px solid rgb(191,191,191);
    border-radius: 5px;
    font-size: 15px;
    text-align: justify;
}
.pacos-card-head{
    background-color: rgb(242,242,242);
    border-bottom: 1px solid rgb(191,191,191);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
}
.title{
    font-weight: 100;
    color: black;
    font-size: 15px;
}
.pacos-contactanos-left-texto{
    margin-top: 5%;
    font-size: 50px;
}
.pacos-enviar-btn{
    background-color: rgb(210,23,52);
    color: white;
}
.pacos-enviar{
    text-align: center;
}
.pacos-enviar-btn:hover{
    color: white;
}
.pacos-red-contacto{
    text-align: center;
}
.facebook{
    color: #3273dc;
}
.twitter{
    color: #4dc5ff;
}
.whatsapp{
    color: green;
}
.email{
    color: rgb(210,23,52);
}
.pacos-red-text{
    color: rgb(210,23,52);
}

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .card{
        width: 90%;
        margin-left: 5%
    }
}